<html>
<head>
    <title>Nepalinfo.com</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/sample-app.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster">
</head>

<body>
<div>
    <img src="https://i.imgur.com/f7l9CSe.jpg" alt="map and flag of Nepal" class="map-size">
</div>
<div class="rectangle1"></div>
<div class="circle1"></div>
<span class="span1">Nepalinfo.com</span>
<div>
    <div class="form1 element1">

        <div class="text1 samesized-text">Is there anything you want to know about Nepal?
        </div>
        <div>
            <input type="text" name="Query" placeholder="  Type your query here..">
            <button type="submit"> Search!</button>
            <br>
            <div class="text2 samesized-text">Have you ever visited Nepal?</div>
            <div class="smallsized-text">
                <label><input type="radio" name="yes-no" class="input-yes">Yes
                    <input type="radio" name="yes-no">No
                </label>
                <div class="samesized-text">Search the name of places you want to go.<br>
                    <input type="text" placeholder=" Type here..." class="box-size smallsized-text"> <span
                            class="samesized-text">OR</span>
                    <select class="smallsized-text text3">
                        <option value="type/search">Search here..</option>
                        <option value="Ilam">Ilam</option>
                        <option value="Kathmandu">Kathmandu</option>
                        <option value="Pokhara">Pokhara</option>
                        <option value="Mustang">Mustang</option>
                    </select>
                    <div class="smallsized-text">
                        <input type="checkbox" checked>View details
                        <input type="checkbox">View historical places
                        <input type="checkbox">View pictures
                        <input type="checkbox">View accomodation
                    </div>
                </div>
                <button type="submit" class="smallsized-text">Search!!</button>

            </div>
        </div>
    </div>
    <div class="element2">
        <img src="https://i.imgur.com/CwpN7wz.jpg" width="500" height="auto"></div>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>



